@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    background: #01c853;
}
.left_side{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 30px;
}
.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: 2em;
}
.right_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    justify-self: end;
    width: 100%;
}
.nav-links li{
    text-decoration: none;
    list-style: none;
}
.nav-links li:hover{
    background-color: #FFC300;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.toggle{
    cursor: pointer;
    display: none;
}
.bars{
    background: #fff;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
    transition: all .3s ease;
}
.bars::before, .bars::after{
    background: #fff;
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    transform: translateY(100%);
}
.bars::after{
    top: -5px;
}
.bars::before{
    top: 5px;
}
.toggle:active ~ .section{
    margin-left: 250px;
}
.section{
    background-image: url("../Images/topography.svg"),
      linear-gradient(110deg, #f3f3f3, #8c859e);
    background-size: 340px, auto;
    height: 100vh;
    background-attachment: fixed;
    letter-spacing: -1px;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 1024){
    .right_side{
        display: flex;
        width: 90%;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        left: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #e8fac9;
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 60%;
        transform: translateX(-100%);
        transition: transform .6s ease-in-out;
    }
    .nav-links li a{
        color: chocolate;
        font-size: larger;
        font-weight: 600;
    }
    .nav-links li{
        opacity: 0;
    }
    .toggle{
        display: block;
    }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.cancel .bars::before{
    transform: rotate(-45deg) translate(2px, 2px);
}

.cancel .bars{
    background: transparent;
}
.cancel .bars::after{
    transform: rotate(45deg) translate(9px, 5px);
}
